<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337844676992-ccjplis18quu9ceeuht84hsot4p4harr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337844676992-ccjplis18quu9ceeuht84hsot4p4harr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvvOfi-y4ZLZ42YdkMGuEG9qOe-aa4h7A</string>
	<key>GCM_SENDER_ID</key>
	<string>337844676992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFestival</string>
	<key>PROJECT_ID</key>
	<string>flutter-festival2022</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-festival2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337844676992:ios:109625ac4f854aa63bb965</string>
</dict>
</plist>